.project {
  background-color: #191919;
  height: 1350px;
  .grid_container {
    .portfolio:first-child {
      background-image: url("../../Assets/01.png");
    }
    .portfolio:nth-child(2) {
      background-image: url("../../Assets/02.png");
    }
    .portfolio:nth-child(3) {
      background-image: url("../../Assets/03.png");
    }
    .portfolio:nth-child(4) {
      background-image: url("../../Assets/04.png");
    }
    .portfolio:nth-child(5) {
      background-image: url("../../Assets/05.png");
    }
    .portfolio:nth-child(6) {
      background-image: url("../../Assets/04.png");
    }
  }
  .portfolio {
    position: relative;
    min-height: 400px;
    width: 100%;
    padding-top: 35%;
    border-radius: 5px;
    background-size: cover;
    background-position: 50%;
    background-color: #0a0a0a;
    background-repeat: no-repeat;
    opacity: 1;
    background-image: url("../../Assets/project.jpg");
  }
  .portfolio:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
  }
  Button {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #b1b4c1;
    padding: 12px 36px;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #1eb4fd;
    background: #1eb4fd;
    color: #fff !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 20px;
  }
  .hidden {
    display: none;
  }
  .pt_20 {
    padding-top: 20px !important;
  }
}
.height {
  height: 1800px;
}
