.banner {
  background-color: #101010;
  background-image: url("../../Assets/IMG_3338.JPG") !important;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 54em;
  position: relative;
  .content_container {
    position: absolute;
    top: 54%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: left;

    p {
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 4px;
      display: block;
      margin-bottom: 20px;
      color: rgba(198, 201, 216, 0.75);
    }
    h1 {
      font-size: 85px;
      font-weight: Black 900;
      font-family: Montserrat, sans-serif;
      line-height: 115px;
      text-transform: inherit;
      // width: 70%;
      color: #fff;
      margin: 0;
      span {
        color: #1eb4fd;
        font-weight: Black 900;
        font-family: Montserrat, sans-serif;
      }
    }

    h2 {
      font-family: Poppins, sans-serif;
      line-height: 2.4074;
      color: #1f1f25;
      font-size: 34px;
      margin: 0;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
  }
}
@media screen and (max-width: 1700px) {
  .banner {
    .content_container {
      top: 55%;
      left: 35%;
      h1 {
        font-size: 80px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .banner {
    height: 48em;
    .content_container {
      top: 55%;
      left: 35%;
      h1 {
        font-size: 70px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .banner {
    height: 45em;
    .content_container {
      left: 38%;
      h1 {
        font-size: 65px;
        line-height: 100px;
      }
    }
  }
}
